{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <h2>Contact Us</h2>
    <h3>Head Office:</h3>
    <p>Address: 12, North Masi St, Madurai, Tamilnadu - 625001</p>
    <p>Contact: 0452 265 2277</p>
    <h3>Branch 1:</h3>
    <p>Address: 456 Park Avenue, Guindy, Chennai, Tamilnadu - 625007</p>
    <p>Contact: +91 987-654-3333</p>
    <h3>Branch 2:</h3>
    <p>Address: 789 Anna Nagar, Madurai, Tamilnadu - 625007</p>
    <p>Contact: +91 992-992-2222</p>
{% endblock %}
